In [122]:
#load necessary data
import sys
import scipy.io
import pandas as pd
data = scipy.io.loadmat('option_data.mat')
price = pd.read_csv('50ETF(20150209-20180704).CSV')
columns = ['Date','Code','Name','Due','Exercise Price','Opening','Clossing','Average','Settlement','Volumn','Turn Volumn','Open Interest','Change of OI','delta','gamma','vega','theta','rho','left','VIS','b-closing','b-VIS','Contract','Serial']
data_call_save_all = pd.DataFrame(data = data['data_call_save_all'],columns = columns)
data_put_save_all = pd.DataFrame(data = data['data_put_save_all'], columns = columns)

In [123]:
dic = {'1':'Jan','2':'Feb','3':'Mar','4':'Apr','5':'May','6':'Jun','7':'Jul','8':'Aug','9':'Sep','10':'Oct','11':'Nov','12':'Dec'}

In [124]:
def convect_price_data():
    for i in range(len(price['date'])):
        year,mon,day = price['date'][i].split('/',3)
        if len(day) == 1:
            day = '0' + day
        mon = dic[mon]
        new_date = day+'-'+mon+'-'+year
        price.loc[i,'date'] = new_date

In [125]:
#convert the price date to be the same as the data
convect_price_data()

In [128]:
price.set_index('date')

              price
date
09-Feb-2015  2.2393
10-Feb-2015  2.2758
11-Feb-2015  2.2863
12-Feb-2015  2.2902
13-Feb-2015  2.2959
16-Feb-2015  2.2998
17-Feb-2015  2.3161
25-Feb-2015  2.2767
26-Feb-2015  2.3536
27-Feb-2015  2.3420
02-Mar-2015  2.3449
03-Mar-2015  2.2710
04-Mar-2015  2.2690
05-Mar-2015  2.2421
06-Mar-2015  2.2469
09-Mar-2015  2.3027
10-Mar-2015  2.2662
11-Mar-2015  2.2806
12-Mar-2015  2.3517
13-Mar-2015  2.3584
16-Mar-2015  2.4112
17-Mar-2015  2.4429
18-Mar-2015  2.5082
19-Mar-2015  2.4852
20-Mar-2015  2.5313
23-Mar-2015  2.5707
24-Mar-2015  2.5342
25-Mar-2015  2.5015
26-Mar-2015  2.5390
27-Mar-2015  2.5447
...             ...
23-May-2018  2.6720
24-May-2018  2.6550
25-May-2018  2.6540
28-May-2018  2.6680
29-May-2018  2.6550
30-May-2018  2.6010
31-May-2018  2.6510
01-Jun-2018  2.6430
04-Jun-2018  2.6860
05-Jun-2018  2.6960
06-Jun-2018  2.6860
07-Jun-2018  2.6940
08-Jun-2018  2.6520
11-Jun-2018  2.6630
12-Jun-2018  2.6880
13-Jun-2018  2.6720
14-Jun-2018  2.6750
15-Jun-2018  2.6780
19-Jun-2018  2.6120
20-Jun-2018  2.6100
21-Jun-2018  2.5920
22-Jun-2018  2.5980
25-Jun-2018  2.5480
26-Jun-2018  2.5200
27-Jun-2018  2.4650
28-Jun-2018  2.4410
29-Jun-2018  2.4950
02-Jul-2018  2.4020
03-Jul-2018  2.4100
04-Jul-2018  2.3900

[829 rows x 1 columns]

In [ ]:
for i in range(len(data_call_save_all['Date']):
    data_call_sace_all.loc[i,'Diff From Price'] = data_call_sace_all['Exercise Price'][i] - price[]

In [132]:
len(data_call_save_all['Date'])

45761

In [88]:
data_call_save_all['Date'][0] == '09-Feb-2015'

array([ True])

In [133]:
price

            date   price
0    09-Feb-2015  2.2393
1    10-Feb-2015  2.2758
2    11-Feb-2015  2.2863
3    12-Feb-2015  2.2902
4    13-Feb-2015  2.2959
5    16-Feb-2015  2.2998
6    17-Feb-2015  2.3161
7    25-Feb-2015  2.2767
8    26-Feb-2015  2.3536
9    27-Feb-2015  2.3420
10   02-Mar-2015  2.3449
11   03-Mar-2015  2.2710
12   04-Mar-2015  2.2690
13   05-Mar-2015  2.2421
14   06-Mar-2015  2.2469
15   09-Mar-2015  2.3027
16   10-Mar-2015  2.2662
17   11-Mar-2015  2.2806
18   12-Mar-2015  2.3517
19   13-Mar-2015  2.3584
20   16-Mar-2015  2.4112
21   17-Mar-2015  2.4429
22   18-Mar-2015  2.5082
23   19-Mar-2015  2.4852
24   20-Mar-2015  2.5313
25   23-Mar-2015  2.5707
26   24-Mar-2015  2.5342
27   25-Mar-2015  2.5015
28   26-Mar-2015  2.5390
29   27-Mar-2015  2.5447
..           ...     ...
799  23-May-2018  2.6720
800  24-May-2018  2.6550
801  25-May-2018  2.6540
802  28-May-2018  2.6680
803  29-May-2018  2.6550
804  30-May-2018  2.6010
805  31-May-2018  2.6510
806  01-Jun-2018  2.6430
807  04-Jun-2018  2.6860
808  05-Jun-2018  2.6960
809  06-Jun-2018  2.6860
810  07-Jun-2018  2.6940
811  08-Jun-2018  2.6520
812  11-Jun-2018  2.6630
813  12-Jun-2018  2.6880
814  13-Jun-2018  2.6720
815  14-Jun-2018  2.6750
816  15-Jun-2018  2.6780
817  19-Jun-2018  2.6120
818  20-Jun-2018  2.6100
819  21-Jun-2018  2.5920
820  22-Jun-2018  2.5980
821  25-Jun-2018  2.5480
822  26-Jun-2018  2.5200
823  27-Jun-2018  2.4650
824  28-Jun-2018  2.4410
825  29-Jun-2018  2.4950
826  02-Jul-2018  2.4020
827  03-Jul-2018  2.4100
828  04-Jul-2018  2.3900

[829 rows x 2 columns]

In [90]:
dic = {'1':'Jan','2':'Feb','3':'Mar','4':'Apr','5':'May','6':'Jun','7':'Jul','8':'Aug','9':'Sep','10':'Oct','11':'Nov','12':'Dec'}
price['date'][0].split("/",3)

['2015', '2', '9']

In [ ]:
for i in range(len(price['date'])):
    [year,mon,day] = price['date'][i].split("/",3)
    if len(day) == 1:
        day = '0' + day
    mon = dic[mon]
    price['date'][i] = day+'-'+mon+'-'+year

In [109]:
year,mon,day = price['date'][200].split("/",3)
if len(day) == 1:
    day = '0' + day
mon = dic[mon]
day+'-'+mon+'-'+year

ValueError: need more than 1 value to unpack

In [121]:
price

            date   price
0    09-Feb-2015  2.2393
1    10-Feb-2015  2.2758
2    11-Feb-2015  2.2863
3    12-Feb-2015  2.2902
4    13-Feb-2015  2.2959
5    16-Feb-2015  2.2998
6    17-Feb-2015  2.3161
7    25-Feb-2015  2.2767
8    26-Feb-2015  2.3536
9    27-Feb-2015  2.3420
10   02-Mar-2015  2.3449
11   03-Mar-2015  2.2710
12   04-Mar-2015  2.2690
13   05-Mar-2015  2.2421
14   06-Mar-2015  2.2469
15   09-Mar-2015  2.3027
16   10-Mar-2015  2.2662
17   11-Mar-2015  2.2806
18   12-Mar-2015  2.3517
19   13-Mar-2015  2.3584
20   16-Mar-2015  2.4112
21   17-Mar-2015  2.4429
22   18-Mar-2015  2.5082
23   19-Mar-2015  2.4852
24   20-Mar-2015  2.5313
25   23-Mar-2015  2.5707
26   24-Mar-2015  2.5342
27   25-Mar-2015  2.5015
28   26-Mar-2015  2.5390
29   27-Mar-2015  2.5447
..           ...     ...
799  23-May-2018  2.6720
800  24-May-2018  2.6550
801  25-May-2018  2.6540
802  28-May-2018  2.6680
803  29-May-2018  2.6550
804  30-May-2018  2.6010
805  31-May-2018  2.6510
806  01-Jun-2018  2.6430
807  04-Jun-2018  2.6860
808  05-Jun-2018  2.6960
809  06-Jun-2018  2.6860
810  07-Jun-2018  2.6940
811  08-Jun-2018  2.6520
812  11-Jun-2018  2.6630
813  12-Jun-2018  2.6880
814  13-Jun-2018  2.6720
815  14-Jun-2018  2.6750
816  15-Jun-2018  2.6780
817  19-Jun-2018  2.6120
818  20-Jun-2018  2.6100
819  21-Jun-2018  2.5920
820  22-Jun-2018  2.5980
821  25-Jun-2018  2.5480
822  26-Jun-2018  2.5200
823  27-Jun-2018  2.4650
824  28-Jun-2018  2.4410
825  29-Jun-2018  2.4950
826  02-Jul-2018  2.4020
827  03-Jul-2018  2.4100
828  04-Jul-2018  2.3900

[829 rows x 2 columns]